@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-secondary">Welcome to Softstacks</h1>
    <p class="display">Learn the Art of Web Designing and Development</p>
    
</div>

